body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url('https://via.placeholder.com/1920x1080/33cc33/ffffff?text=Formal+Background'); /* Use uma URL válida */
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #33cc33;
}

.catalog {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgba(50, 205, 50, 0.8);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group label {
  display: block;
  color: #fff;
}

.btn-primary {
  background-color: #33cc33;
  border-color: #33cc33;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.card h3 {
  margin-top: 0;
  color: #33cc33;
}

.card p {
  margin: 5px 0;
  color: #333;
}
